{% load static %}

<div class="widget-drag-handle">
  <div class="hangout-header">
    <div class="widget-title">HANGOUT</div>
    <div class="online-count">({{ online_count }} online)</div>
  </div>
</div>
<div class="widget-bar"></div>

<div class="chat-errors" id="chat-errors" style="display: none; margin-bottom: -6px; margin-top: -8px;"></div>

<div class="chat-messages" id="chat-messages"></div>

<div class="chat-input-container">
  <textarea 
    class="chat-input" 
    placeholder="Enter your message..." 
    id="message-input"
    maxlength="280"></textarea>
  <div class="chat-bottom">
    <input 
      type="text" 
      class="nickname-input" 
      placeholder="Nickname (anonymous by default)" 
      id="nickname-input"
      maxlength="64">
    <button class="send-button" id="send-button">Poong</button>
  </div>
</div>

<script src="{% static 'hangout/js/chat.min.js' %}" defer></script>