{% if articles %}
<div class="weblog-content">
    {% for article in articles %}
        <a href="{% url 'weblog:article_page' article.slug %}" class="blog-post-link">
            <div class="blog-post-title">
                <span class="blog-title-char">: : </span>
                <span class="blog-title-text">{{ article.title }}</span>
            </div>
        </a>
        <div class="blog-post-meta">[ {{ article.published_at|date:"F j. Y" }} | 
            {% with reading_time=article.get_reading_time %}
                <span>{{ reading_time }} mins</span>
            {% endwith %} ]
        </div>
    {% endfor %}
</div>
{% endif %}