{% if articles %}
<div class="weblog-content">
    {% for article in articles %}
        <a href="{% url 'weblog:article_page' article.slug %}" class="blog-post-link">
            <div class="blog-post-title">
                <span class="blog-title-char">: : </span>
                <span class="blog-title-text">{{ article.title }}</span>
            </div>
        </a>
        <div class="blog-post-meta">┗ {{ article.published_at|date:"F j, Y" }} | 
            {{ article.get_word_count }} word{{ article.get_word_count|pluralize }} | 
            {{ article.get_reading_time }} minute{{ article.get_reading_time|pluralize }}</div>
    {% endfor %}
</div>
{% endif %}